body{
    background-image:url("http://www.cndajin.com/data/wls/14/4451691.gif");
}
h1{
    text-align:center;
    font-family: 'Black And White Picture', sans-serif;
}
h2{
    text-align:center;
    font-family: 'Patrick Hand', cursive;
    color:yellow;
}
h3{
    text-align:center;
}
li{
 font-family: 'Anton', sans-serif;   
 color:red;
}