body{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmVZRXCsZechSB06fdtEneTR3PF_VPu4wQplj-tYhQnXvlRyFF");
}
h1{
    text-align:center;
    font-family: 'Black And White Picture', sans-serif;
}
h2{
    text-align:center;
    font-family: 'Patrick Hand', cursive;
}
h3{
    text-align:center;
}
